.article h1,
.article h2,
.article h3 {
  margin-bottom: 20px;
}
.article ul {
  padding: 0;
}
@media (min-width: 768px) {
  .article h1,
  .article h2,
  .article h3 {
    margin-bottom: 30px;
  }
}
.article p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 140%;
}
@media (min-width: 768px) {
  .article p {
    margin: 30px 0;
    font-size: 18px;
  }
}


.article ul,
.article ol,
.custom-list {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .article ul,
  .article ol,
  .custom-list {
    margin: 25px 0;
  }
}
.article ul li,
.article ol li,
.custom-list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.article ul li:not(:last-child),
.article ol li:not(:last-child),
.custom-list li:not(:last-child) {
  margin-bottom: 15px;
}

.article ul li,
ul.custom-list li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  color: #2C2C2C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.article ul li::before,
ul.custom-list li::before {
  content: "";
  width: 6px;
  border-radius: 50%;
  background: #FFA522;
  height: 6px;
  margin-right: 8px;
}

.article ol,
ol.custom-list {
  list-style-type: none;
  counter-reset: artcounter;
}
.article ol li::before,
ol.custom-list li::before {
  display: inline-block;
  counter-increment: artcounter;
  content: counter(artcounter);
  margin-right: 10px;
  color: #5094EE;
}

/* Article section */
.article__grid {
  display: grid;
  gap: 30px;
}
@media (min-width: 992px) {
  .article__grid {
    gap: 40px;
    grid-template-columns: 8.5fr 4fr;
  }
}

@media (min-width: 992px) {
  .article__expert-wrap {
    position: sticky;
    top: 130px;
  }
}

.article__expert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 393px;
  padding: 24px;
  background: #FAFAFA;
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(59, 61, 98, 0.1);
}
@media (min-width: 768px) {
  .article__expert {
    padding: 24px 32px;
  }
}
.section-bg .article__expert {
  background: white;
}

.article__expert-inner {
  display: flex;
  margin-bottom: 24px;
  gap: 10px;
}

.article__expert-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.article__expert-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article__expert-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.article__expert-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.article__expert-hint {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1;
  color: $colorGreen;
  text-transform: uppercase;
}

.article__expert-link {
  font-size: 14px;
  line-height: 1;
  text-decoration: underline;
  color: inherit;
}

.article__expert-btn {
  width: 100%;
}

.article__btn {
  background-color: $colorRed;
  margin-top: 30px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #FAFAFA;
  border-radius: 50px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.13);
}
@media (max-width: 575.9px) {
  .article__btn {
    width: 100%;
  }
}

.article__content {
  position: relative;
  height: auto;
}
.article__content > *:last-child {
  margin-bottom: 0;
}

.article__content--hidden {
  height: 36em;
  overflow: hidden;
}

.article__expert-socials-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

@media (max-width: 768px) {
  .article h2 {
    font-size: 30px;
  }
  .article__content--hidden {
    height: 52em;
  }
}

@media (max-width: 576px) {
  .article__content--hidden {
    height: 49em;
  }
}
