.blog {
  padding-top: 25px;
  margin-top: -20px;

		// .blog__wrap

		&__title {
      color: $colorBlack;
      font-size: 65px;
      font-weight: 900;
      line-height: 105%;
      margin-bottom: 40px;
		}

		// .blog__nav

		&__nav {
      display: flex;
      gap: 15px;
      padding: 0;
		}

		// .blog__cat

		&__cat {
      list-style: none;
      padding: 12px 34px;
      border-radius: 110px;
      border: 2px solid $colorGreen;
      margin-bottom: 40px;
      &.active {
        background-color: $colorGreen;
        color: #fff;
      }
		}

		// .blog__inner

		&__inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 40px;
		}

		// .blog__post

		&__post {
      grid-column: 4 span;
      background-color: $colorLightGray;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
		}

		// .blog__media

		&__media {
		}

		// .blog__image

		&__image {
      margin-bottom: 20px;
		}

		// .blog__post-title

		&__post-title {
      margin: 0;
      color: $colorBlack;
      font-size: 20px;
      font-weight: 800;
      line-height: 130%;
      margin-bottom: 15px;
		}

		// .blog__more

		&__more {
      margin: 0;
      margin-top: auto;
      display: flex;
      gap: 10px;
      align-items: center;
		}

		// .blog__motr-link

		&__motr-link {
      color: $colorYellow;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%; /* 20.8px */
      text-decoration-line: underline;
		}
}
