.calc {
  background-color: $colorBraun;

		// .calc__title

		&__title {
      margin: 0;
      color: #fff;
      font-size: clamp(30px, 8vw, 55px);
      font-weight: 800;
      line-height: 105%;
      margin-bottom: 50px;
      text-align: center;
		}

		// .calc__inner

		&__inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
      position: relative;
      background-color: $colorYellowLight;
      border-radius: 15px;
      padding: 60px;
      @media screen and (max-width: 768px){
        padding: 24px 32px;
        text-align: center;
      }
		}
    &__decor {
      position: absolute;
      bottom: 0;
      right: 10px;
      @media screen and (max-width: 768px){
        display: none;
      }
    }
		// .calc__item

  .calc__item:last-child .calc__select-name {
    color: #2C2C2C;
    font-size: 24px;
  }

		&__item {
      grid-column: 4 span;

      @media screen and (max-width: 768px){
        grid-column: 12 span;
        padding: 0;
      }
		}
    &__item-result {
      @media screen and (max-width: 768px){
        text-align: center;
      }
    }
    &__select-name {
      color: $colorGray;
      font-size: 20px;
      font-weight: 800;
      line-height: 130%;
      margin-bottom: 20px;
      display: block;
    }
    &__result {
      margin: 0;
      color: $colorBlack;
      font-size: 55px;
      font-weight: 800;
      line-height: 105%;
      @media screen and (max-width: 768px){
        font-size: 30px;
      }
    }
    // .calc__wrap-input

  &__wrap-input {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
  }

  // .calc__input

  &__input {
    border: none;
    width: 185px;
    padding: 13px 15px;
    border-radius: 5px;
    background: #F2F5F7;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    @media screen and (max-width: 768px){
      margin-bottom: 10px;
      width: 100%;
    }
  }

  // .calc__submit

  &__submit {
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    padding: 14px 32px;
    border-radius: 50px;
    background: #EE5662;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.13);
    font-size: 16px;
    font-weight: 900;
    height: 45px;
    line-height: 130%;
    margin-bottom: 15px;
    cursor: pointer;
    @media screen and (max-width: 768px){
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  // .calc__agree

  &__agree {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  // .calc__agree-check


  // .calc__agree-text

  &__agree-text {
    color: $colorGray;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    span {
      color: $colorRed;
      text-decoration: underline;
    }
  }

  // .calc__agree-link

}



.select {
  position: relative;
  display: block;

  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.select__head {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 5px;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(66, 67, 72, 0.8);
  cursor: pointer;
  @media screen and (max-width: 768px){

  }
}

.select__head::after {
  width: 10px;
  height: 6px;
  background: #FFF url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A") no-repeat center / cover;
  position: absolute;
  right: 15px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

@media (min-width: 769px) and (max-width: 1023px) {
  .calc__inner {
    padding: 30px;
    grid-template-columns: repeat(8, 1fr);
  }
  .calc__decor {
    max-width: 25%;
  }
  .calc__result {
    font-size: 35px;
  }
  .works__swiper {
    overflow: initial;
  }
}

@media (max-width: 768px) {
  .calc {
    padding: 60px 0;
  }
  .calc__title {
    margin-bottom: 30px;
  }
  .calc__inner {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 54px;
      height: 71px;
      position: absolute;
      top: -5%;
      right: -5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../img/ddecor-img.svg);
    }
  }
  .calc__select-name {
    text-align: start;
    margin-bottom: 12px;
    font-size: 16px;
  }
  .select {
    margin-bottom: 0;
    max-width: 100%;
  }
  .calc__item-result .calc__select-name {
    text-align: center;
  }
  .calc .calc__item:last-child .calc__select-name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
  }
  .calc__wrap-input {
    gap: 15px;
    .input-wrap {
      width: 100%;
      input {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .calc__agree-text {
    text-align: start;
  }
  .calc__agree {
    gap: 12px;
  }
}
