.certificate {
  padding-top: 25px;
  margin-top: -20px;
  background-color: $colorYellowLight;

		// .certificate__title

		&__title {
      color: $colorBlack;
      font-size: 65px;
      font-weight: 900;
      line-height: 105%;
      margin-bottom: 40px;
		}

		// .certificate__swiper

		&__swiper {
      z-index: 0;
      position: relative;
      overflow: hidden;
		}

		// .certificate__arrowbox

		&__arrowbox {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
		}

		// .certificate__prev

}

