.contact {
  padding: 0;

		// .contact__title

		&__title {
      color: $colorBlack;
      font-size: 65px;
      font-weight: 900;
      line-height: 105%;
      margin-bottom: 40px;
		}

		// .contact__info

		&__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      margin-bottom: 40px;
		}

		// .contact__item

		&__item-name {
      color: $colorGray;
      font-size: 12px;
      font-weight: 900;
      line-height: 130%; /* 15.6px */
      letter-spacing: 0.84px;
      text-transform: uppercase;
      margin-bottom: 20px;
		}

		// .contact__mail

		&__mail {
      display: flex;
      align-items: center;
      gap: 16px;
		}

    &__whatsaap {
      display: flex;
      align-items: center;
      gap: 15px;
    }
		// .contact__mail-box

		&__mail-box {
      display: flex;
      flex-direction: column;
		}

		// .contact__email

		&__email {
      color: $colorYellow;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%; /* 20.8px */
      text-decoration-line: underline;
		}

		// .contact__mail-text

		&__mail-text {
      color: $colorGray;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%; 
		}

    &__location {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__address-box {
      display: flex;
      flex-direction: column;
      max-width: 250px;
    }
    &__shedule {
      color: $colorGray;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%; 
    }

		// .contact__map

		&__map {
      margin-bottom: 100px;
		}
}
