.faq {
  background-color: $colorBraun;
  position: relative;

		// .faq__inner

		&__inner {
      padding: 0 105px;
      margin: 0 auto;
		}

		// .faq__title

		&__title {
      color: #fff;
      font-size: clamp(30px, 8vw, 55px);
      font-weight: 800;
      line-height: 105%;
      text-align: center;
      margin-bottom: 50px;
		}
    &__decor-image2 {
      position: absolute;
      bottom: 100px;
      left: 0;
      @media screen and (max-width: 768px){
        display: none;
      }
    }
    &__decor-image1 {
      position: absolute;
      top: 75px;
      right: 35px;
      @media screen and (max-width: 768px){
        height: 56px;
        top: -31px;
        right: 0;
      }
    }
}

.faq .accordion__item .accordion__item-content .content__text {
  padding-bottom: 25px;
  color: #575757;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.faq .accordion__item .accordion__item-trigger .trigger__img svg {
  border: none;
}

.faq .accordion__item .accordion__item-trigger .trigger__text-faq {
  color: #2C2C2C;
}

.accordion {

		// .accordion__item

		&__item-faq {
      background-color: #fff;
		}

}
.trigger {

		// .trigger__text

		&__text {
      .text-faq {
        font-size: 20px;

      }
		}

		// .trigger__text-faq

		&__text-faq {
      font-size: 20px;
      @media screen and (max-width: 768px){
        max-width: 75%;
      }
		}

		// .trigger__img

}

.content {

		// .content__text

		&__text-faq {
      margin-left: 50px;
      padding-right: 50px;
      @media screen and (max-width: 768px){
        font-size: 16px;
        margin-left: 16px;
        padding-right: 16px;
      }
		}
}
.accordion .accordion__item .accordion__item-trigger .trigger__text-faq {
  font-size: 20px;
}

.accordion .accordion__item.accordion__item-faq.accordion__item-active  .accordion__item-trigger {
  padding-bottom: 15px;
}

.faq .accordion__item.accordion__item-active .trigger__img svg {
  background: transparent;
  fill: #FFA522;
  path {
    stroke: #fff;
  }
}

@media (max-width: 768px) {
  .faq .accordion__item .accordion__item-trigger {
    padding: 24px 0;
  }
  .faq .accordion__item .accordion__item-trigger .trigger__text-faq {
    margin-left: 24px;
    font-size: 16px;
  }
  .faq .accordion__item.accordion__item-faq.accordion__item-active .accordion__item-trigger {
    padding-bottom: 12px;
  }
  .faq .accordion__item .accordion__item-content .content__text {
    font-size: 16px;
    margin-left: 24px;
    padding-bottom: 24px;
  }
}
