// Footer
.footer {
  padding: 60px 0 72px;
  background-color: $colorLightGray;
  overflow: hidden;
  // .footer__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  // .footer__item

  &__item {
    grid-column: span 3;

    ul {
      padding-left: 0;
      margin: 0;
      list-style: none;

      li  {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        a {
          color: #575757;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          transition: 0.3s;

          &:hover {
            color: $colorRed;
          }
        }
      }
    }
    @media screen and (max-width: 768px){
      grid-column: span 12;
    }
  }

  &__item-head {
    color: $colorBlack;
    font-size: 20px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 20px;
  }

  // .footer__logo

  &__logo {
    display: flex;
    align-items: center;
    gap: 9px;
    max-width: 160px;
    margin-bottom: 30px;
  }
  &__logo-image {
    @media screen and (max-width: 768px){
      width: 32px;
      height: 32px;
    }
  }

  // .footer__logo-descr

  &__logo-descr {
    color: $colorRed;
    font-size: 12px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: .84px;
    text-transform: uppercase;
    @media screen and (max-width: 768px){
      font-size: 10px;
    }
  }

  // .footer__pay

  &__pay {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    img {
      @media screen and (max-width: 768px){
        height: 18px;
      }
    }
  }

  // .footer__politic

  &__politic {
    display: block;
    color: $colorGreen;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    text-decoration-line: underline;
    margin-bottom: 15px;
    }

  // .footer__map

  &__map {
    display: block;
    color: $colorGreen;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    text-decoration-line: underline;
    margin-bottom: 15px;
  }
  &__address {
    font-size: 16px;
      color: $colorGray;
      font-weight: 500;
  }

  // .footer__copy

  &__copy {
    color: $colorGray;
    font-size: 12px;;
    font-weight: 900;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }

  // .footer__phone

  &__phone {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 226px;
    margin-bottom: 20px;
  }

  // .footer__phone-box

  &__phone-box {
    display: flex;
    flex-direction: column;
  }

  // .footer__number

  &__number {
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    text-decoration: underline;
  }

  // .footer__number-text

  &__number-text {
    color: $colorGray;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
  }

  // .footer__btn

  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border: 1px solid #5e4548;
    border-radius: 50px;
    font-size: 16px;
    color: #5e4548;
    height: 48px;
    width: 100%;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    transition: 0.2s ease-out;
  }
  .footer__btn:hover {
  background-color: #5E4548;
  color: #fff;
}
  // .footer__messengers

  &__messengers {
    display: flex;
    align-items: center;
    color: $colorGray;
    font-size: 14px;
    line-height: 120%;
    max-width: 160px;
    margin-bottom: 20px;
  }

  // .footer__whatsaap

  &__whatsaap {
    display: flex;
    gap: 16px;
  }

  // .footer__location

  &__location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 20px;
  }


  // .footer__shedule

  &__shedule {
    display: flex;
    align-items: center;
    gap: 16px;

  }

  // .footer__shedule-text

  &__shedule-text {
    font-size: 14px;
    color: $colorGray;
    line-height: 1.2;
  }

}

@media (min-width: 769px) and (max-width: 1023px) {
  .footer__inner {
    grid-template-columns: repeat(6, 1fr);

  }
}

@media (max-width: 768px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
  }
}
