// Container
.container {
  padding: 0 140px;
}

.swiper-wrapper {
  height: initial;
}

// Body Locked
body {
    font-family: $fontMain;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
    &.locked {
        overflow: hidden;
    }
}
.section {
    padding: 100px 0;
    @media screen and (max-width: 768px){
      padding: 60px 0;
    }

}
main {
  padding-top: 130px;
}
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-red:hover {
  background-color: #e92f3e;
  transition: 0.3s;
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
ul.breadcrumb {
    padding: 10px 16px 10px 0;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    padding-left: 0 !important;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: $colorBlack;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: $colorRed;
    text-decoration: underline;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  input, select, textarea {
    padding: 12px 15px;
    width: 185px;
    border-radius: 5px;
    border: none;
    background: #F2F5F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: $colorGray;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      outline: none;
    }
}
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }


  @media (max-width: 768px) {
    main {
      padding-top: 60px;
    }
  }

@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .section:has(.swiper-wrapper) {
    overflow: hidden;
  }
}
