
/**
 * HEADER STYLES
 */
.close {
  width: 25px;
  height: 25px;
  background: url('../img/close.svg') no-repeat center;
  background-size: 100%;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.55;
  transition: 0.2s ease-out;
  transform-origin: center;
  flex-shrink: 0;
}
.close:hover {
  opacity: 1;
  transform: scale(1.05);
}
.close:active {
  transform: scale(0.95);
}
@media (max-width: 575px) {
  .close {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
  }
}

@media (max-width: 575px) {
  .logo {
    max-width: 125px;
  }
}
@media (max-width: 374px) {
  .logo {
    max-width: 110px;
  }
}
.media__link:hover .media__icon {
  transform: scale(1.1);
  opacity: 1;
}
.media__icon {
  -o-object-fit: cover;
  object-fit: cover;
  width: 22px;
  height: 22px;
  opacity: 0.8;
  transition: 0.2s ease-out;
}


.header {
  width: 100%;
  z-index: 5;
  transition: 0.2s ease-out;
  padding: 16px 0 0;
  position: fixed;
  background: #fff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 178px;
    img {
      width: 50px;
      height: 50px;
      transition: 0.2s ease-out;
      @media screen and (max-width: 768px){
        width: 32px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__descr {
    color: $colorRed;
    font-size: 12px;
    font-weight: 900;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
    @media screen and (max-width: 768px){
      font-size: 10px;
    }
  }
  &__shedule {
    display: flex;
    align-items: center;
    gap: 16px;
    transform: translateX(10px);
    @media screen and (max-width: 992px){
      display: none;
      max-width: 0;
    }
  }
  &__shedule-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__shedule-text {
    font-size: 16px;
    font-weight: 500;
    color: $colorGray;
    line-height: 1.3;

  }
  &__shedule-hint {
    color: $colorGray;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
  // .header__messengers

  &__messengers {
    display: flex;
    align-items: center;
    color: $colorGray;
    font-size: 14px;
    line-height: 120%;
    max-width: 426px;
    transform: translateX(25px);
  }
  &__messengers-text {
    max-width: 76px;
    margin-right: 23px;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  &__messengers-media {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 40px;
  }
  &__phone-inner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__messengers-img {
    opacity: 0.8;
    transition: 0.2s ease-out;
    img {
      width: 24px;
      height: 24px;
    }
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &__phone-box {
    display: flex;
    flex-direction: column;
  }
  &__number {
    color: $colorYellow;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    text-decoration: underline;
    transition: .2s ease-out;
    &:hover {
      color: $colorRed;
      cursor: pointer;
    }
    @media screen and (max-width: 992px){
      display: none;
    }
  }
  &__number-text {
    color: $colorGray;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    @media screen and (max-width: 992px){
      display: none;
    }
  }
  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 7px 24px;
    border: 1px solid $colorBraun;
    border-radius: 50px;
    font-size: 16px;
    color: $colorBraun;
    font-weight: 700;
    line-height: 130%;
    transition: .2s ease-out;
    &:hover {
      background-color: $colorBraun;
      color: #fff;
    }
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  &__callback {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 40px;
    align-items: flex-end;
  }
  &__gamburger {
    width: 31px;
    padding: 11.5px 8.5px;
    box-shadow: 0px 5px 10px rgba(94, 94, 94, 0.09);
    border-radius: 5px;
    background-color: $colorYellow;
    margin: 0 0 0 24px;
    display: none;
    flex-shrink: 0;
    cursor: pointer;
  }
  &__gamburger-line {
    height: 1px;
    width: 29px;
    border-radius: 5px;
    background: #fff;
  }
  &__gamburger-line:not(:last-child) {
    margin-bottom: 8px;
  }
  &__nav-wrap {
    background: #F2F5F7;
  }
}









// .header__sticky {
//   padding: 20px 0;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 15;
//   background: #fff;
//   border-radius: 0 0 10px 10px;
//   transition: 0.6s ease-out;
// }
// .header__sticky_active {
//   box-shadow: 0px 10px 20px rgba(9, 11, 15, 0.1);
// }


.header__top {
  justify-content: space-between;
  display: none;
}
.header__nav {
  position: relative;
  display: flex;
  padding: 8px 0;
}
.header__nav-close {
  margin: 0 30px 0 16px;
  margin-top: -24px;
}
.header__service-menu {
  position: absolute;
  left: 0;
  top: 67%;
  transform: scale(0);
  max-height: 70vh;
  height: auto;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 40px 70px 60px;
  background: #F2F5F7;
  border-radius: 0px 0px 10px 10px;
  z-index: -1;
  opacity: 0;
  transition: 0.45s ease-out;
  @media screen and (max-width: 768px){
    background: #fff;
  }
}
.header__service-menu_active {
  z-index: 10;
  opacity: 1;
  transform: scale(1);
}
.header__service-menu > li > a {
  color: $colorBraun;
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  transition: 0.2s ease-out;
  display: block;
}
.header__service-menu > .menu-item > a:hover {
  color: $colorRed;
}

.header__service-menu > li  ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.header__service-menu > ul .menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.header__service-menu > li ul li a {
  font-size: 16px;
  line-height: 120%;
  color: $colorGray;
  transition: 0.2s ease-out;
}
.header__service-menu > li ul .menu-item a:hover {
  color: #2f88e0;
}
.header__service-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  z-index: 2;
  border: none;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: $colorGray;
  outline: none;
  box-shadow: none;
}
.header__service-menu-btn:focus {
  outline: none;
  box-shadow: none;
}
.header__service-menu-btn-gamburger {
  width: 16px;
  margin: 0 10px 0 0;
}
.header__service-menu-btn-gamburger-line {
  width: 100%;
  height: 1px;
  background: $colorGray;
  border-radius: 2px;
  transition: 0.2s ease-out;
}
.header__service-menu li a:hover {
  color: $colorRed;
}
.header__service-menu-btn-gamburger-line:not(:last-child) {
  margin-bottom: 3px;
}
.header__service-menu-btn_active .header__service-menu-btn-gamburger {
  margin-top: -6px;
}
.header__service-menu-btn_active
  .header__service-menu-btn-gamburger-line:nth-child(1) {
  opacity: 0;
}
.header__service-menu-btn_active
  .header__service-menu-btn-gamburger-line:nth-child(2) {
  transform-origin: center;
  transform: rotate(45deg);
}
.header__service-menu-btn_active
  .header__service-menu-btn-gamburger-line:nth-child(3) {
  margin-top: -4px;
  transform-origin: center;
  transform: rotate(-45deg);
}
.header__service-menu-btn:hover {
  color: $colorRed;
}
.header__service-menu-btn:hover .header__service-menu-btn-gamburger-line {
  background: $colorGray;
}
.header__page-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px -15px -15px;
}
.header__page-menu li {
  margin: 0 10px 15px 15px;
}
.header__page-menu li a {
  font-weight: 500;
  font-size: 16px;
  color: $colorGray;
  transition: 0.2s ease-out;
}
.header__page-menu li a:hover {
  color: $colorRed;
}
.header__page-menu .current-menu-item a {
  color: $colorRed;
}
@media (max-width: 1199px) {
  .header__sticky {
    padding: 0 0 16px;
  }
}


@media (max-width: 767px) {
  .header__callback-btn {
    display: none;
  }
}
@media (max-width: 374px) {
  .header__callback a {
    font-size: 12px !important;
  }
  .header__callback span {
    font-size: 9px !important;
  }
}



@media (max-width: 575px) {
  .header__gamburger {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1199.9px) {
  .header__phone-box {
    display: none;
  }
  .header__messengers-media {
    margin-right: 15px;
  }
  .header__gamburger {
    display: block;
  }
  .header__nav-wrap {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    z-index: 10;
    padding: 30px 0 100px 0;
    transition: ease-out 0.7s;
    z-index: 15;
  }
  .header__nav-wrap_active {
    left: 0;
  }
  .header__top {
    display: flex;
  }
}
@media screen and (max-width: 1199.9px) and (max-width: 575px) {
  .header__top {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199.9px) {
  .header__nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 0;
  }
}
@media screen and (max-width: 1199.9px) {
  .header__service-menu-btn {
    display: none;
  }
  .header__service-menu {
    width: 100%;
    order: 2;
    position: static;
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 1fr;
    box-shadow: none;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    padding: 0;
  }
}
@media screen and (max-width: 1199.9px) {
  .header__page-menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  header {
    .header__feedback {
      margin-left: 15px;
    }
  }
  .header__nav-close {
    margin-top: 0;
  }
  header {
    .logo {
      display: flex;
      align-items: center;
    }
    .header__descr {
      margin-left: 15px;
      max-width: 60%;
    }
  }
}
@media screen and (max-width: 1199.9px) and (max-width: 575px) {
  .header__page-menu {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199.9px) {
  .header__page-menu > .menu-item {
    margin: 0;
  }
  .header__page-menu > .menu-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .header__page-menu > .menu-item a {
    font-size: 22px;
    font-weight: 700;
  }
}

@media screen and (max-width: 991.9px) {
  .header__service-menu {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .header__media {
    display: none;
  }
  .header__callback {
    margin: 0 20px 0 0;
  }

}

@media (max-width: 812px) {
  .header__feedback {
    display: none;
  }
}

@media screen and (max-width: 767.9px) {
  .header__nav-wrap {
    padding: 16px 0 60px 0;
  }
}
@media (max-width: 575px) {
  .header__service-menu > .menu-item > a {
    color: #2f88e0;
  }
}
@media (max-width: 768px) {
  header .header__descr {
    margin-left: 0;
  }
  .header__messengers {
    transform: none;
  }
  .header__logo img {
    height: 32px;
  }
  .header__gamburger {
    width: initial;
    height: initial;
    padding: 9px 6px;
  }
  .header__gamburger-line:not(:last-child) {
    margin-bottom: 4px;
  }
  .header__gamburger-line {
    width: 20px;
    height: 2px;
  }
  .header__nav-close {
    margin: 0;
  }
  .header__top {
    align-items: center;
    width: 100%;
  }
  header .header__descr {
    margin-left: 8px;
  }
  .header__page-menu li {
    margin-left: 0;
    width: 100%;
    display: block;
  }
  .header__page-menu li:last-child {
    margin-bottom: 0;
  }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .header__page-menu {
    width: 100%;
  }
}

@media screen and (max-width: 575.9px) {

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__callback {
    margin: 0;
  }

}

@media screen and (max-width: 374.9px) {
  .container {
    padding: 0 24px;
  }

}

/**
 * END HEADER STYLES
 */




