.opening {
  padding-top: 25px;
  margin-top: -20px;
  &__accordion-item {
    background-color: $colorLightGray;
    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  }
  &__title {
    color: $colorBlack;
    font-size: 65px;
    font-weight: 900;
    line-height: 105%;
    text-align: center;
    margin-bottom: 40px;
  }
}
.accordion__item.opening__accordion-item {
  border: none;
}

.accordion .accordion__item .accordion__item-trigger .trigger__text.opening__trigger-text {
  font-size: 20px;
  font-weight: 800;
  line-height: 130%;
}
.accordion .accordion__item .accordion__item-content .content__text.opening__content__text {
  padding: 0 50px 30px 50px;
  color: $colorGray;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}