.price {
  max-width: 1512px;
  margin: 0 auto;
  position: relative;
  &__title {
    color: $colorBlack;
    font-size: clamp(30px, 8vw, 55px);
    font-weight: 800;
    line-height: 105%;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 768px){
      margin-bottom: 32px;
    }
  }
  &__bg-image {
    position: absolute;
    bottom: 1px;
    right: -18px;
    @media screen and (max-width: 768px){
      opacity: .5;
    }
  }
}
.accordion {
  position: relative;
  @media screen and (max-width: 768px){
    width: 90vw;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .accordion__item {
      border: 1px solid$colorGreen;
      margin-bottom: 30px;
      border-radius: 15px;


      @media screen and (max-width: 768px){
        margin-bottom: 16px;
      }

      &.accordion__item-active {
          .accordion__item-content {
              display: block;
          }
        .trigger__img {

          svg {
            transform: rotate(180deg);
            border-radius: 50%;
            background: $colorGreen;

            path {
              stroke: #fff;
            }
          }
        }
      }


      .accordion__item-trigger {
          display: flex;
          padding: 25px 0;
          align-items: center;
          cursor: pointer;


          .trigger__text {
              color: $colorGray;
              margin-left: 50px;
              font-size: 30px;
              font-style: normal;
              font-weight: 800;
              line-height: 130%;
              @media screen and (max-width: 768px){
                font-size: 16px;
                margin-left: 16px;
              }
          }

          .trigger__img {
              position: relative;
              margin-left: auto;
              padding-right: 50px;
              svg {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid;
                border-color: $colorGreen;
                transition: 0.3s;

                path {
                  transition: 0.3s;
                }
              }
              @media screen and (max-width: 768px){
                padding-right: 16px;
              }

              .line1 {
                  display: block;
                  width: 18px;
                  height: 1px;
                  background: $colorBraun;
                  border-radius: 100px;
              }

              .line2 {
                  display: block;
                  width: 18px;
                  height: 1px;
                  background: $colorBraun;
                  margin-top: -2px;
                  border-radius: 100px;
                  transform: rotate(90deg);
              }
          }
      }

      .accordion__item-content {
          padding-bottom: 0;
          display: none;
          animation: fade .3s ease;

          .content__text {
              margin-top: 25px;
              padding-left: 0;

              &:first-child {
                  margin-top: 0;
              }
          }
      }


  }
  .accordion__item:last-child {
    margin-bottom: 0;
  }
}
.decor-image {
  position: absolute;
  top: -83px;
  left: 60px;
}
.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  @media screen and (max-width: 768px){
    table-layout: auto;
  }
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  font-size: 20px;
  text-align: center;
  border: 1px solid $colorGreen;
  color: $colorGray;
  padding: 15px;
  border-right: none;
  @media screen and (max-width: 768px){
    font-size: 16px;
    white-space: nowrap;
  }
}
.table_component th:nth-child(1){
  border-left: none;
}

.table_component td {
  border: 1px solid $colorGreen;
  color: $colorGray;
  padding: 15px 15px 15px 50px;
  border-right: none;
  border-bottom: none;
  @media screen and (max-width: 768px){
    font-size: 14px;
    font-weight: 600;
  }
}

.table_component td:nth-child(1){
  border-left: none;
}

@media (max-width: 768px) {
  .accordion .accordion__item .accordion__item-trigger {
    padding: 14px 0;
  }
}
