.works {
  background-color: $colorYellowLight;
  position: relative;
  overflow: hidden;
		// .works__inner

		&__inner {
			margin: 0 auto;

      .swiper-wrapper {
        height: initial;
      }
		}
		&__decor-image1 {
			position: absolute;
			left: 0;
			top: 0;
			@media screen and (max-width: 768px){
        width: 60px;
        top: 20px;
        left: -10px;
			}
		}
		&__decor-image2 {
			position: absolute;
      right: 140px;
      top: -22px;
      @media screen and (max-width: 768px){
        width: 67px;
        top: 15px;
        right: -8px;
			}
		}

		// .works__title

		&__title {
      color: $colorBlack;
      font-size: 55px;
      font-weight: 800;
      line-height: 105%;
      margin-bottom: 50px;
      text-align: center;
		}

		// .works__swiper

		&__swiper {
      z-index: 0;
      position: relative;
      overflow: hidden;
		}

		// .works__slide

		&__slide {
		}

		// .works__box

		&__box {
      background-color: #fff;
      padding: 30px 40px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
			@media screen and (max-width: 768px){
				padding: 20px;
				height: auto;
			}
		}

		// .works__media

		&__media {

		}

		// .works__image

		&__image {
      margin-bottom: 20px;
			width: 100%;
			@media screen and (max-width: 768px){
				margin-bottom: 0;
				height: 210px;
				object-fit: cover;
				border-radius: 10px;
			}
		}

		// .works__read

		&__read {
      color: $colorGray;
      font-size: 20px;
      font-weight: 800;
      line-height: 130%;
      height: 40px;
			@media screen and (max-width: 768px){
				font-size: 16px;
				line-height: 120%;
			}
		}

		// .works__arrowbox

		&__arrowbox {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
		}
  &__prev, &__next {
    cursor: pointer;
  }



}

.works .container {
  position: relative;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .works__swiper {
    overflow: initial;
  }
  .price__bg-image {
    display: none;
  }
}


@media (max-width: 768px) {
  .works__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .works__swiper {
    overflow: initial;
  }
}
