.drugs {
   background-color: $colorYellowLight;
   margin-top: -20px;
   padding-top: 25px;

		// .drugs__title

		&__title {
         color: $colorBlack;
         font-size: 65px;
         font-weight: 900;
         line-height: 105%; 
         margin-bottom: 40px;
		}

		// .drugs__list

		&__list {
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         gap: 40px;
		}

		// .drugs__item

		&__item {
         grid-column: 6 span;
         padding: 40px;
         background-color: #fff;
         padding: 40px;
         border-radius: 10px;
         box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
         transition: box-shadow .2s ease;
         &:hover {
            box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.24);
         }

		}

		// .drugs__media

		&__media {
         display: flex;
         gap: 30px;
         align-items: center;
         padding: 0 60px;
         margin-bottom: 40px;
		}

		// .drugs__image

		&__image {
		}

		// .drugs__properties

		&__properties {
         display: flex;
         flex-direction: column;
		}

		// .drugs__name

		&__name {
         color: $colorBlack;
         font-size: 24px;
         font-weight: 800;
         line-height: 130%;
         margin-bottom: 15px;
		}

		// .drugs__descr

		&__descr {
         color: $colorGray;
         font-size: 12px;
         font-weight: 900;
         line-height: 130%; /* 15.6px */
         letter-spacing: 0.84px;
         text-transform: uppercase;
         margin-bottom: 10px;
		}

		// .drugs__value

		&__value {
         color: $colorGray;
         font-size: 15px;
         font-weight: 600;
         line-height: 135%;
         margin-bottom: 6px;
		}

		// .drugs__btn

		&__btn {
         color: #fff;
         background-color: $colorRed;
         padding: 16px 32px;
         border-radius: 50px;
         display: flex;
         align-items: center;
         justify-content: center;
         box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.13);
         margin-top: 15px;
         width: 85%;
         font-size: 16px;
         font-weight: 900;
         line-height: 130%;
		}

		// .drugs__text

		&__text {
         color: $colorGray;
         line-height: 140%;
		}
}
.container {
}
.title {
}
.btn {
}
