<%= _.template(require('../includes/header.html').default)({}) %>


<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__left">
        <h1 class="title hero__title">Чистый дом — наша забота</h1>
        <div class="hero__descr">Услуги санитарной обработки помещений в Москве и области. Работаем круглосуточно и анонимно, даем 1 год гарантии.</div>
        <div class="hero__right pc-hidden">
          <img src="./img/bg-hero.webp" alt="">
        </div>
        <div class="hero__form-block">
          <form action="" method="get">
            <div class="hero__form-title">Заказать дезинфекцию</div>
            <div class="hero__wrap-input">
              <div class="input-wrap">
                <input type="text" name="phone" id="phone" placeholder="Ваш телефон" class="wpcf7-form-control" inputmode="text" required>
              </div>
              <button class="hero__submit" type="submit">Отправить</button>
            </div>
            <div class="hero__agree">
              <div class="checkbox">
                <label class="custom-checkbox">
                  <input type="checkbox" name="color-1" value="indigo">
                  <span class="hero__agree-text">Соглашаюсь на обработку <b class="hero__agree-link"> персональных данных</b></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="hero__right mobile-hidden">
        <img src="./img/bg-hero.webp" alt="">
      </div>
    </div>
  </div>
</section>







<section class="hero__steps">
  <div class="container">
    <div class="hero__steps-list">
      <div class="hero__steps-item">
        <img loading="lazy" src="./img/icons/step1.svg" width="32" height="32" alt="Step 1">
        <div class="hero__steps-text">Вы платите только за химию и работу. Всё остальное - бесплатно!</div>
      </div>
      <div class="hero__steps-item">
        <img loading="lazy" src="./img/icons/step2.svg" width="32" height="32" alt="Step 1">
        <div class="hero__steps-text">Сначала мы делаем работу, а только потом Вы оплачиваете!</div>
      </div>
      <div class="hero__steps-item">
        <img loading="lazy" src="./img/icons/step3.svg" width="32" height="32" alt="Step 1">
        <div class="hero__steps-text">Конфиденциально, Ваши соседи ничего не узнают</div>
      </div>
      <div class="hero__steps-item">
        <img loading="lazy" src="./img/icons/step4.svg" width="32" height="32" alt="Step 1">
        <div class="hero__steps-text">Все способы обработки безопасные для людей и животных</div>
      </div>
    </div>
  </div>
</section>



  <%= _.template(require('../includes/services.html').default)({}) %>
  <%= _.template(require('../includes/calc.html').default)({}) %>
  <%= _.template(require('../includes/step.html').default)({}) %>
  <%= _.template(require('../includes/works.html').default)({}) %>
  <%= _.template(require('../includes/price.html').default)({}) %>
  <%= _.template(require('../includes/reviews.html').default)({}) %>
  <%= _.template(require('../includes/health.html').default)({}) %>
  <%= _.template(require('../includes/article.html').default)({}) %>
  <%= _.template(require('../includes/faq.html').default)({}) %>


<%= _.template(require('../includes/footer.html').default)({}) %>


